// kalendejawa.dev
// main style
@charset "utf-8";
@import '~bulma/sass/utilities/initial-variables'; 
@import '~bulma/sass/utilities/functions';

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$family-sans-serif: 'Inter', sans-serif;
$family-monospace: 'Source Code Pro', monospace;

$weight-100: 100;

html { 
  font-family:  $family-sans-serif;
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif;
  }
}

// custom
body {
  font-family: $family-sans-serif;
}

// Text Logo 
.text-logo {
  font-size: $size-2;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  line-height: 1;
  margin-left: -0.05em;
  font-weight: $weight-semibold;
}

.text-quote {
  font-weight: 200;
  font-style: italic;
  font-size: 1.5rem;
}

.text-deskripsi {
  font-weight: 200;
}

// paling akhir -- last one
@import '~bulma/bulma.sass';