// kalendejawa.dev
// main style
@charset "utf-8";
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab


$color_dark: hsla(235%, 21%, 21%, 1);
$color_light: hsla(218%, 17%, 62%, 1);
$color_lighter: hsla(197%, 24%, 94%, 1);
$color_red_light: hsla(353%, 86%, 54%, 1);
$color_red_dark: hsla(350%, 96%, 43%, 1);

$family-sans-serif: 'Inter', sans-serif;
$family-monospace: 'IBM Plex Mono', monospace;
$footer-padding: 3rem 1.5rem 3rem;
$footer-background-color: transparent;
$weight-100: 100;
$radius: 0px !important;

//keep navbar meneu on mobile
//see https://github.com/jgthms/bulma/issues/1445
$navbar-breakpoint: 0;

html { 
  font-family:  $family-sans-serif;
  background-color: transparent !important;
  //background-color: $color_dark !important;
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif;
  }
}

// custom
body {
  font-family: $family-sans-serif;
}

footer {
  background-color: $footer-background-color !important;
}

pre {
  background-color: inherit !important;
  padding: 0px !important;
}

::selection {
  background: gold !important;
}

::-moz-selection {
  background: gold !important;
}

input:invalid {
  box-shadow: 0 0 5px 1px crimson;
}

input:focus:invalid {
  box-shadow: none;
}

.label-abang {
  color: crimson !important;
}
// first tag
.layar {
  height: -webkit-fill-available;
}

.navbar-end {
  //background-image: linear-gradient(180deg, red, #e20000);
  //box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    box-shadow: none !important;
  }
}

.navbar {
  background-color: transparent !important;
  // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: none !important;                                                                
}

.navbar-end a {
  // color: white;
  color: #131313;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.navbar-menu {
  padding: 0px !important;
  margin: 0px;
  background-color: transparent !important;
  //background-image: linear-gradient(135deg, #20c8cc 0%, #ac17cd 80%);
}

.navbar-item {
  display: flex !important;
}

.box {
  box-shadow: none !important;
}

.section {
  padding: 4rem 1.5rem 0rem !important;
}

.footer {
  color: #a7a7a7;
  padding: 3rem 1.5rem 3rem !important;
}

.footer span {
  font-weight: 500px;
  color: #4a4a4a;
}

.has-navbar-fixed-top {
  padding-top: 6.25rem !important;
}

// Text Logo 
.text-logo {
  font-size: 3.0rem;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  line-height: 1;
  margin-left: -0.05em;
  font-weight: 600;
}

.text-quote {
  font-weight: 500;
  font-style: italic;
  font-size: 1.0rem;
}

.text-quote-contrib {
  color: dimgray;
}

.text-deskripsi {
  font-weight: 400;
  font-size: 1.2rem;

  padding: 0px 5.5rem;
  color: #a7a7a7;
}

.title-fitur-align {
  text-align: center
}

.title-fitur-align .icon {
  margin-bottom: 20px;
}

.title-fitur {
  letter-spacing: -0.05em;
  font-weight: 300 !important;
  font-size: 20px !important;
  color: #24292E !important;
  margin-bottom: 15px !important;
  letter-spacing: 0.05em;
  //margin-left: -10px !important;
}

.fitur-deskripsi {
  color: #586069;
  text-align: center;
}

.bottom-section {
  padding: 0px !important;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.thin-line div {
  height: 4px;
  background-image: linear-gradient(135deg, #20c8cc 0%, #ac17cd 80%);
}

//final
.first-container {
  padding-top: 3rem;
}

.first-container .section {
  text-align: center;
}

.top-grad {
  background-image: linear-gradient(180deg, white, transparent);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
}

.second-container {
  padding: 4rem 3.5rem;
  background-color: transparent !important;
}

.second-container > section:first-child {
  padding: 1rem 3.5rem;
}

.second-container .hero {
  margin-top: 2rem;
}

.api-container {
  padding: 0rem 3.5rem;
  margin-top: 3rem !important;
}

.api-container-detail {
  margin: 3rem 0;
}

.api {
  font-size: 1.2rem;
  font-family: 'IBM Plex Mono';
  color: crimson;
  font-weight: 600;
}
.hljs {
  background: none !important;
  padding: 0px !important;
}

.code-deskripsi {
  margin: 20px 0px;
}

.code-demo-form {
  // background-color: whitesmoke !important;
}

.demo-result {
  background-color: rgba(245, 245, 245, 0.2);
  padding: 3rem 1.5rem !important;
  text-align: center;
  margin: .7em;
}

.code-demo-result-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0px !important;
}
.code-demo-result {
  font-size: 2.5em;
  /* font-style: italic; */
  text-transform: uppercase;
  font-family: "Source Code Pro";
  color: #dc143c;
  /* padding: 1.5em; */
  // text-align: left;
  line-height: 1;
  margin-left: -0.05em
}

.demo-result-list {
  text-align: left;
}

.demo-result-list ul li {
  list-style-type: none;
}

.install {
  text-align: center;display: inline-block;
  padding-right: 10em;
  padding-top: 3rem;
  border-radius: 6px;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fillRule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="%23FF5F56" stroke="%23E0443E" strokeWidth=".5" /><circle cx="26" cy="6" r="6" fill="%23FFBD2E" stroke="%23DEA123" strokeWidth=".5" /><circle cx="46" cy="6" r="6" fill="%2327C93F" stroke="%231AAB29" strokeWidth=".5" /></g></svg>');
  background-repeat: no-repeat;
  background-position: 16px 16px;
  box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.75);
  height: 186px;
  background-color: #2B2D42;
  color: cyan;
}

.install p {
  font-weight: 500;
  font-family: $family-monospace;
  font-size: 1rem;
  padding: 67px 35px;
  margin-left: -0.05rem;
  position: absolute;
}

.field input {
  max-width: 23em;
}

.content ul { 
  margin-left: 0em !important;
}

// paling akhir -- last one
@import '~bulma/bulma.sass';