// kalendejawa.dev
// main style
@charset "utf-8";
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab

$family-sans-serif: 'Inter', sans-serif;
$family-monospace: 'IBM Plex Mono', monospace;
$footer-padding: 3rem 1.5rem 3rem;
$footer-background-color: transparent;
$weight-100: 100;
$radius: 0px !important;

//keep navbar meneu on mobile
//see https://github.com/jgthms/bulma/issues/1445
$navbar-breakpoint: 0;

html { 
  font-family:  $family-sans-serif;
  background-color: transparent !important;
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif;
  }
}

// custom
body {
  font-family: $family-sans-serif;
  background: url('~assets/images/Keris_Tegak_v2.png') top left no-repeat fixed
}

footer {
  background-color: $footer-background-color !important;
}

pre {
  background-color: inherit !important;
  padding: 0px !important;
}

::selection {
  background: gold !important;
}

::-moz-selection {
  background: gold !important;
}

// first tag
.layar {
  height: -webkit-fill-available;
}

.navbar-end {
  background-image: linear-gradient(180deg, red, #e20000);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.navbar {
  background-color: transparent !important;
}

.navbar-end a {
  color: white;
}

.navbar-menu {
  padding: 0px !important;
  margin: 0px;
  background-color: transparent !important;
}

.box {
  box-shadow: none !important;
}

.footer {
  color: #a7a7a7;
  padding: 3rem 1.5rem 3rem !important;
}

.footer span {
  font-weight: 500px;
  color: #4a4a4a;
}

.has-navbar-fixed-top {
  padding-top: 6.25rem !important;
}

// Text Logo 
.text-logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  line-height: 1;
  margin-left: -0.05em;
  font-weight: 600;
}

.text-quote {
  font-weight: 500;
  font-style: italic;
  font-size: 1.0rem;
}

.text-quote-contrib {
  color: dimgray;
}

.text-deskripsi {
  font-weight: 400;
  font-size: 1.2rem;

  padding: 0px 5.5rem;
  color: #a7a7a7;
}

.title-fitur {
  letter-spacing: -0.05em;
  font-weight: 400 !important;
  font-size: 20px !important;
  color: #24292E !important;
  margin-bottom: 0px !important;
  margin-left: -10px !important;
}

.fitur-deskripsi {
  color: #586069;
}

.bottom-section {
  padding: 0px !important;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.thin-line div {
  height: 4px;
  background-image: linear-gradient(135deg, #20c8cc 0%, #ac17cd 80%);
}

//final
.first-container {
  padding-top: 5rem;
}

.first-container .section {
  text-align: center;
}

.top-grad {
  background-image: linear-gradient(180deg, white, transparent);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
}

.second-container {
  padding: 0rem 3.5rem;
  background-color: transparent !important;
}

.second-container > section:first-child {
  padding: 1rem 3.5rem;
}

.api-container {
  padding: 0rem 3.5rem;
  margin-top: 100px !important;
}

//.api-container .section .content {
//  background-color: white;
//}

.api {
  font-size: 1.5rem;
  font-family: 'IBM Plex Mono';
  color: crimson;
  font-weight: 500;
}
.hljs {
  background: none !important;
  padding: 0px !important;
}

.code-deskripsi {
  margin: 20px 0px;
}


.code-demo-form {
  background-color: whitesmoke !important;
}
// paling akhir -- last one
@import '~bulma/bulma.sass';