/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

/* HSL */
$color_dark: hsla(235%, 21%, 21%, 1);
$color_light: hsla(218%, 17%, 62%, 1);
$color_lighter: hsla(197%, 24%, 94%, 1);
$color_red_light: hsla(353%, 86%, 54%, 1);
$color_red_dark: hsla(350%, 96%, 43%, 1);

/* RGB */
$color1: rgba(43, 45, 66, 1);
$color2: rgba(141, 153, 174, 1);
$color3: rgba(237, 242, 244, 1);
$color4: rgba(239, 35, 60, 1);
$color5: rgba(217, 4, 41, 1);